<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.pavelkletskov.flask_hockey</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/pavelkletskov/hockey-blast-prod/hockey-blast-frontend/.venv/bin/gunicorn</string>
      <string>-c</string>
      <string>/Users/pavelkletskov/hockey-blast-prod/hockey-blast-frontend/gunicorn_config.py</string>
      <string>app:create_app('frontend')</string>
    </array>

    <key>KeepAlive</key>
    <true/>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/log_flask_hockey_err.log</string>

    <key>StandardOutPath</key>
    <string>/tmp/log_flask_hockey_out.log</string>

    <key>WorkingDirectory</key>
    <string>/Users/pavelkletskov/hockey-blast-prod/hockey-blast-frontend</string>
  </dict>
</plist>

