{% extends "base.html" %}

{% block title %}Percentage of Games by Day of the Week{% endblock %}

{% block content %}
<div class="container">
    <h3> Percentage of Games by Day of the Week</h3>
    <div class="form-group">
        <label for="x-axis">Aggregate by:</label>
        <select class="form-control" id="x-axis">
            <option value="season_name">Seasons</option>
            <option value="year_month">Year + Month</option>
        </select>
        <label for="plot-level">Choose a Division:</label>
        <select class="form-control" id="plot-level">
            <option value="all">All</option>
            {% for level in levels %}
            <option value="{{ level }}">{{ level }}</option>
            {% endfor %}
        </select>
    </div>
    <button class="btn btn-primary" id="update-plot">Update Plot</button>
    <div class="plot-container">
        <div id="plot"></div>
    </div>
</div>

<style>
    .plot-container {
        width: 100%;
        overflow-x: auto;
    }

    #plot {
        width: 100%;
        height: 600px;
    }
</style>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    document.getElementById('update-plot').addEventListener('click', function () {
        var x_axis = document.getElementById('x-axis').value;
        var plot_level = document.getElementById('plot-level').value;

        fetch('/get_day_of_week_data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                x_axis: x_axis,
                plot_level: plot_level
            })
        })
            .then(response => response.json())
            .then(data => {
                var traces = [];
                var sortedX = data.x;

                for (var day in data.y) {
                    traces.push({
                        x: sortedX,
                        y: data.y[day],
                        mode: 'lines',
                        name: day
                    });
                }
                var layout = {
                    title: 'Percentage of Games by Day of the Week',
                    xaxis: {
                        title: x_axis === 'year_month' ? 'Year + Month' : 'Season Name',
                        tickangle: x_axis === 'year_month' ? 90 : -45,
                        tickformat: x_axis === 'year_month' ? '%b %Y' : '',
                        dtick: x_axis === 'year_month' ? 'M4' : ''
                    },
                    yaxis: { title: 'Percentage of Games' },
                    margin: x_axis === 'year_month' ? { b: 90 } : { b: 150 }
                };
                Plotly.newPlot('plot', traces, layout);

                // Update table
                var table = document.getElementById('data-table');
                var thead = table.querySelector('thead');
                var tbody = table.querySelector('tbody');

                // Clear existing table headers and rows
                thead.innerHTML = '';
                tbody.innerHTML = '';

                // Create table headers
                var headerRow = document.createElement('tr');
                var th = document.createElement('th');
                th.innerText = 'Day of the Week';
                headerRow.appendChild(th);

                data.x.slice(-24).forEach(function (x_value) {
                    var th = document.createElement('th');
                    th.innerText = x_value;
                    headerRow.appendChild(th);
                });
                thead.appendChild(headerRow);

                // Create table rows
                ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'].forEach(function (day) {
                    var row = document.createElement('tr');
                    var td = document.createElement('td');
                    td.innerText = day;
                    row.appendChild(td);
                    data.y[day].slice(-24).forEach(function (value) {
                        var td = document.createElement('td');
                        td.innerText = (value * 100).toFixed(1) + '%';
                        row.appendChild(td);
                    });
                    tbody.appendChild(row);
                });
            });
    });
</script>
{% endblock %}