<div>
    <label for="organization">Organization:</label>
    <select id="organization" name="organization">
        {% for org in organizations %}
        <option value="{{ org.id }}" {% if org.id==ALL_ORGS_ID %}selected{% endif %}>{{ org.organization_name }}
        </option>
        {% endfor %}
    </select>

    <label for="level">Level:</label>
    <select id="level" name="level" disabled>
        <option value="">All Levels</option>
    </select>

    <label for="season">Season:</label>
    <select id="season" name="season" disabled>
        <option value="">All Seasons</option>
    </select>

    <label for="team">Team:</label>
    <select id="team" name="team" disabled>
        <option value="">All Teams</option>
    </select>

    <label for="top_n">Show Top:</label>
    <select id="top_n" name="top_n">
        <option value="20">20</option>
        <option value="50" selected>50</option>
        <option value="100">100</option>
        <option value="200">200</option>
    </select>
</div>

<script>
    document.getElementById('organization').addEventListener('change', function () {
        var orgId = this.value;
        var humanId = document.getElementById('human_id') ? document.getElementById('human_id').value : null;
        if (orgId && orgId != "-1") {
            fetchLevels(orgId, humanId);
        } else {
            document.getElementById('level').innerHTML = '<option value="">All Levels</option>';
            document.getElementById('level').disabled = true;
            document.getElementById('season').innerHTML = '<option value="">All Seasons</option>';
            document.getElementById('season').disabled = true;
            document.getElementById('team').innerHTML = '<option value="">All Teams</option>';
            document.getElementById('team').disabled = true;
        }
        var url = new URL(window.location);
        url.searchParams.delete('location');
        window.history.pushState({}, '', url);
        var event = new CustomEvent('dropdownChange', { detail: { orgId: orgId } });
        document.dispatchEvent(event);
    });

    document.getElementById('level').addEventListener('change', function () {
        var levelId = this.value;
        var orgId = document.getElementById('organization').value;
        var humanId = document.getElementById('human_id') ? document.getElementById('human_id').value : null;
        if (levelId) {
            fetchSeasons(orgId, levelId, humanId);
        } else {
            document.getElementById('season').innerHTML = '<option value="">All Seasons</option>';
            document.getElementById('season').disabled = true;
            document.getElementById('team').innerHTML = '<option value="">All Teams</option>';
            document.getElementById('team').disabled = true;
        }
        var event = new CustomEvent('dropdownChange', { detail: { levelId: levelId } });
        document.dispatchEvent(event);
    });

    document.getElementById('season').addEventListener('change', function () {
        var seasonId = this.value;
        var orgId = document.getElementById('organization').value;
        var levelId = document.getElementById('level').value;
        var humanId = document.getElementById('human_id') ? document.getElementById('human_id').value : null;
        if (seasonId) {
            fetchTeams(orgId, levelId, seasonId, humanId);
        } else {
            document.getElementById('team').innerHTML = '<option value="">All Teams</option>';
            document.getElementById('team').disabled = true;
        }
        var event = new CustomEvent('dropdownChange', { detail: { seasonId: seasonId } });
        document.dispatchEvent(event);
    });

    document.getElementById('team').addEventListener('change', function () {
        var teamId = this.value;
        if (teamId) {
            document.getElementById('top_n').value = 200;
        }
        var event = new CustomEvent('dropdownChange', { detail: { teamId: teamId } });
        document.dispatchEvent(event);
    });

    document.getElementById('top_n').addEventListener('change', function () {
        var topN = this.value;
        var event = new CustomEvent('dropdownChange', { detail: { topN: topN } });
        document.dispatchEvent(event);
    });

    function fetchLevels(orgId, humanId) {
        var endpoint = window.location.pathname.includes('/skater_performance') ? '/skater_performance/filter_levels' : '/dropdowns/filter_levels';
        return fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ org_id: orgId, human_id: humanId })
        })
            .then(response => response.json())
            .then(data => {
                var levelSelect = document.getElementById('level');
                levelSelect.innerHTML = '<option value="">All Levels</option>';
                data.forEach(level => {
                    levelSelect.innerHTML += `<option value="${level.id}">${level.level_name}</option>`;
                });
                levelSelect.disabled = false;
            });
    }

    function fetchSeasons(orgId, levelId, humanId) {
        var endpoint = window.location.pathname.includes('/skater_performance') ? '/skater_performance/filter_seasons' : '/dropdowns/filter_seasons';
        return fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ org_id: orgId, level_id: levelId, human_id: humanId })
        })
            .then(response => response.json())
            .then(data => {
                var seasonSelect = document.getElementById('season');
                seasonSelect.innerHTML = '<option value="">All Seasons</option>';
                data.forEach(season => {
                    seasonSelect.innerHTML += `<option value="${season.id}">${season.season_name}</option>`;
                });
                seasonSelect.disabled = false;
            });
    }

    function fetchTeams(orgId, levelId, seasonId, humanId) {
        var endpoint = window.location.pathname.includes('/skater_performance') ? '/skater_performance/filter_teams' : '/dropdowns/filter_teams';
        return fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ org_id: orgId, level_id: levelId, season_id: seasonId, human_id: humanId })
        })
            .then(response => response.json())
            .then(data => {
                var teamSelect = document.getElementById('team');
                teamSelect.innerHTML = '<option value="">All Teams</option>';
                data.forEach(team => {
                    teamSelect.innerHTML += `<option value="${team.id}">${team.team_name}</option>`;
                });
                teamSelect.disabled = false;
            });
    }

    function updateDropdownsCGI(orgId, levelId, seasonId, teamId, topN) {
        const url = new URL(window.location);
        url.searchParams.set('org_id', orgId);
        url.searchParams.set('level_id', levelId);
        url.searchParams.set('season_id', seasonId);
        url.searchParams.set('team_id', teamId);
        url.searchParams.set('top_n', topN);
        updatePageSpecificCGI(url);
        window.history.pushState({}, '', url);
    }

    document.addEventListener('dropdownChange', function (event) {
        var orgId = document.getElementById('organization').value;
        var levelId = document.getElementById('level').value;
        var seasonId = document.getElementById('season').value;
        var teamId = document.getElementById('team').value;
        var topN = document.getElementById('top_n').value;

        updateDropdownsCGI(orgId, levelId, seasonId, teamId, topN);
        fetchContent(orgId, levelId, seasonId, teamId, topN);
    });

    window.addEventListener('load', function () {
        onWindowLoad();
        const urlParams = new URLSearchParams(window.location.search);
        const orgId = urlParams.get('org_id') || '-1';
        const levelId = urlParams.get('level_id');
        const seasonId = urlParams.get('season_id');
        const teamId = urlParams.get('team_id');
        const topN = urlParams.get('top_n') || 50;

        document.getElementById('top_n').value = topN;

        if (orgId) {
            document.getElementById('organization').value = orgId;
        }

        if (orgId && orgId != -1) {
            fetchLevels(orgId, document.getElementById('human_id') ? document.getElementById('human_id').value : null).then(() => {
                if (levelId) {
                    document.getElementById('level').value = levelId;
                    fetchSeasons(orgId, levelId, document.getElementById('human_id') ? document.getElementById('human_id').value : null).then(() => {
                        if (seasonId) {
                            document.getElementById('season').value = seasonId;
                            fetchTeams(orgId, levelId, seasonId, document.getElementById('human_id') ? document.getElementById('human_id').value : null).then(() => {
                                if (teamId) {
                                    document.getElementById('team').value = teamId;
                                    document.getElementById('top_n').value = 200;
                                }
                                fetchContent(orgId, levelId, seasonId, teamId, topN);
                            });
                        } else {
                            document.getElementById('season').disabled = false;
                            fetchContent(orgId, levelId, null, null, topN);
                        }
                    });
                } else {
                    document.getElementById('level').disabled = false;
                    fetchContent(orgId, null, null, null, topN);
                }
            });
        } else {
            fetchContent(null, null, null, null, topN);
        }
    });
</script>