{% extends "base.html" %}

{% block title %}Game Shootout Statistics{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Shootouts when tied stats</h1>
    <form id="filter-form" method="post">
        <div class="form-group">
            <label for="league_number">Choose a League:</label>
            <select class="form-control" id="league_number" name="league_number" required>
                {% for league in leagues %}
                <option value="{{ league.league_number }}">{{ league.league_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="plot_level">Choose a Division:</label>
            <select class="form-control" id="plot_level" name="plot_level">
                <option value="all">All Divisions</option>
                {% for division in divisions %}
                <option value="{{ division }}">{{ division }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="x_axis">Aggregate by:</label>
            <select class="form-control" id="x_axis" name="x_axis">
                <option value="season">Season</option>
                <option value="year_month">Year+Month</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div id="plot-div" class="mt-4"></div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    document.getElementById('filter-form').addEventListener('submit', function (event) {
        event.preventDefault();
        const x_axis = document.getElementById('x_axis').value;
        const plot_level = document.getElementById('plot_level').value;
        const league_number = document.getElementById('league_number').value;
        fetch('/get_game_shootout_data', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ x_axis, plot_level, league_number })
        })
            .then(response => response.json())
            .then(data => {
                const x = data.x;
                const y = data.y;
                const traces = [];
                for (const [key, values] of Object.entries(y)) {
                    traces.push({
                        x: x,
                        y: values,
                        mode: 'lines+markers',
                        name: key
                    });
                }
                const layout = {
                    title: 'Game Shootout Statistics',
                    xaxis: { title: x_axis === 'year_month' ? 'Year/Month' : 'Season' },
                    yaxis: { title: 'Percentage' }
                };

                if (x_axis === 'season') {
                    layout.xaxis.tickvals = data.x;
                    layout.xaxis.ticktext = data.season_names;
                }

                Plotly.newPlot('plot-div', traces, layout);
            });
    });
</script>
{% endblock %}