{% extends "base.html" %}

{% block title %}{{ player_name }} Stats{% endblock %}

{% block content %}
<h1 class="mb-4">{{ display_name|safe }}</h1>

{% if roles_data %}
<h4>Roles</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Role</th>
            <th>Games</th>
            <th>Rank</th>
            <th>First Game</th>
            <th>Last Game</th>
        </tr>
    </thead>
    <tbody>
        {% for role in roles_data %}
        <tr>
            <td>{{ role.role|safe }}</td>
            <td>{{ role.games_count|safe }}</td>
            <td>{{ role.rank|safe }}</td>
            <td>{{ role.first_date|safe }}</td>
            <td>{{ role.last_date|safe }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h4>Recent Games Played</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date Time</th>
            <th>Team Names</th>
            <th>Final Score</th>
            <th>Skater Stats</th>
        </tr>
    </thead>
    <tbody>
        {% for game in recent_games_data %}
        <tr>
            <td>{{ game.date_time|safe }}</td>
            <td>{{ game.team_names|safe }}</td>
            <td>{{ game.final_score|safe }}</td>
            <td>{{ game.player_stats }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if skater_performance %}
<h4>Skater Performance</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Total</th>
            <th>Per Game</h2>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Goals</td>
            <td>{{ skater_performance.goals }}</td>
            <td>{{ skater_performance.goals_per_game }}</td>
        </tr>
        <tr>
            <td>Assists</td>
            <td>{{ skater_performance.assists }}</td>
            <td>{{ skater_performance.assists_per_game }}</td>
        </tr>
        <tr>
            <td>Points</td>
            <td>{{ skater_performance.points }}</td>
            <td>{{ skater_performance.points_per_game }}</td>
        </tr>
        <tr>
            <td>Penalties</td>
            <td>{{ skater_performance.penalties }}</td>
            <td>{{ skater_performance.penalties_per_game }}</td>
        </tr>
    </tbody>
</table>
{% endif %}

{% if goalie_performance %}
<h4>Goalie Performance</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Games</th>
            <th>TGA</th>
            <th>GAA</th>
            <th>TSA</th>
            <th>SV%</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ goalie_performance.games }}</td>
            <td>{{ goalie_performance.goals_allowed }}</td>
            <td>{{ goalie_performance.goals_allowed_per_game }}</td>
            <td>{{ goalie_performance.shots_faced }}</td>
            <td>{{ goalie_performance.save_percentage }}</td>
        </tr>
    </tbody>
</table>
{% endif %}

{% if referee_performance %}
<h4>Referee Performance</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Category</th>
            <th>Total</th>
            <th>Per Game</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Penalties Given</td>
            <td>{{ referee_performance.penalties_given }}</td>
            <td>{{ referee_performance.penalties_per_game }}</td>
        </tr>
        <tr>
            <td>Game Misconducts Given</td>
            <td>{{ referee_performance.gm_given }}</td>
            <td>{{ referee_performance.gm_per_game }}</td>
        </tr>
    </tbody>
</table>
{% endif %}

<h4>Skater Per Level</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Level</th>
            <th>Games Played</th>
            <th>Points Per Game</h2>
        </tr>
    </thead>
    <tbody>
        {% for level in skater_division_stats %}
        <tr>
            <td>{{ level.level_name }}</td>
            <td>{{ level.games_played|int }}</td>
            <td>{{ level.points_per_game | round(2) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if goalie_division_stats %}
<h4>Goalie Per Level</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Level</th>
            <th>Games Played</th>
            <th>TGA</th>
            <th>GAA</th>
            <th>TSA</th>
            <th>SV%</th>
        </tr>
    </thead>
    <tbody>
        {% for level in goalie_division_stats %}
        <tr>
            <td>{{ level.level_name }}</td>
            <td>{{ level.games_played|int }}</td>
            <td>{{ level.goals_allowed }}</td>
            <td>{{ level.goals_allowed_per_game | round(2) }}</td>
            <td>{{ level.shots_faced }}</td>
            <td>{{ level.save_percentage | round(2) }}%</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h4>Games Per Team</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Games Played</th>
        </tr>
    </thead>
    <tbody>
        {% for team in most_games_played %}
        <tr>
            <td><a href="{{ url_for('team_stats.team_stats', team_id=team.team_id) }}">{{ team.team_name }}</a></td>
            <td>{{ team.games_played|int }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Games Per Teammate</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Teammate Name</th>
            <th>Games Played Together</th>
        </tr>
    </thead>
    <tbody>
        {% for teammate in teammates %}
        <tr>
            <td><a href="{{ url_for('human_stats.human_stats', human_id=teammate.teammate_id) }}">{{
                    teammate.teammate_name }}</a></td>
            <td>{{ teammate.games_played|int }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="plot-div">
    {{ plot_div|safe }}
</div>
{% endblock %}