{% extends "base.html" %}

{% block title %}{{ player_name }} Stats{% endblock %}

{% block content %}
<style>
    .table-responsive {
        overflow-x: auto;
    }

    .table th,
    .table td {
        white-space: normal;
        padding: 2px;
        /* Slightly reduced padding */
        font-size: 0.9rem;
        /* Slightly reduced font size */
    }

    .table {
        table-layout: auto;
        width: 100%;
    }
</style>

<h1 class="mb-4">{{ display_name|safe }}</h1>

{% if roles_data %}
<div class="table-responsive">
    <h4>Roles</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Role</th>
                <th>Games</th>
                <th>Rank</th>
                <th>First Game</th>
                <th>Last Game</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles_data %}
            <tr>
                <td>{{ role.role|safe }}</td>
                <td>{{ role.games_count|safe }}</td>
                <td>{{ role.rank|safe }}</td>
                <td>{{ role.first_date|safe }}</td>
                <td>{{ role.last_date|safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

<h4>Recent Games Played</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date Time</th>
            <th>Team Names</th>
            <th>Level</th>
            <th>Final Score</th>
            <th>Skater Stats</th>
        </tr>
    </thead>
    <tbody>
        {% for game in recent_games_data %}
        <tr>
            <td>{{ game.date_time|safe }}</td>
            <td>{{ game.team_names|safe }}</td>
            <td>{{ game.level }}</td>
            <td>{{ game.final_score|safe }}</td>
            <td>{{ game.player_stats }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if games_against_skaters %}
<h4>Games Against Skater</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Skater Name</th>
            <th>Games Against</th>
            <th>W-L</th>
        </tr>
    </thead>
    <tbody>
        {% for opponent in games_against_skaters %}
        <tr>
            <td><a href="{{ opponent.skater_to_skater_link }}">{{ opponent.opponent_name }}</a></td>
            <td><a href="{{ opponent.skater_to_skater_link }}">{{ opponent.games_against }}</a></td>
            <td><a href="{{ opponent.skater_to_skater_link }}">{{ opponent.wins_losses|safe }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h4>Games Per Teammate</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Teammate Name</th>
            <th>Games Played Together</th>
        </tr>
    </thead>
    <tbody>
        {% for teammate in teammates %}
        <tr>
            <td><a href="{{ url_for('human_stats.human_stats', human_id=teammate.teammate_id) }}">{{
                    teammate.teammate_name }}</a></td>
            <td>{{ teammate.games_played|int }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>Games Per Team</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Games Played</th>
        </tr>
    </thead>
    <tbody>
        {% for team in most_games_played %}
        <tr>
            <td><a href="{{ url_for('team_stats.team_stats', team_id=team.team_id) }}">{{ team.team_name }}</a></td>
            <td>{{ team.games_played|int }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div id="plot-div">
    {{ plot_div|safe }}
</div>
{% endblock %}