{% extends "base.html" %}

{% block title %}Hockey B.L.A.S.T (Beer League Analytics and Stats){% endblock %}

{% block content %}
<div style="text-align: center;">
    <h1 class="mb-4 outlined-text" style="font-size: 2.5rem; margin-left: 0px;">
        HOCKEY B.L.A.S.T.
        <br>
        <br>
        Beer League
        <br>
        Analytics and Stats
    </h1>
    <h4 class="mb-4 outlined-text" style="margin-left: 0px;">
        Last Game Indexed:
        <br>
        Scheduled: <strong>{{ last_scheduled.date }} {{ last_scheduled_time }}</strong>
        <br>
        Completed: <strong>{{ last_played.date }} {{ last_played_time }}</strong>
    </h4>

    <h2>Top Skaters</h2>
    <h4>Day</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for skater, human, org in daily_skater_points %}
        <li>
            <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
                {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{ skater.games_played
                }}GP, {{
                skater.points }}P
                {% if skater.goals > 0 %}({{ skater.goals }}G{% if skater.assists > 0 %},{{ skater.assists }}A{% endif
                %}){% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h4>Week</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for skater, human, org in weekly_skater_points %}
        <li>
            <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
                {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{ skater.games_played
                }}GP, {{
                skater.points }}P
                {% if skater.goals > 0 %}({{ skater.goals }}G{% if skater.assists > 0 %},{{ skater.assists }}A{% endif
                %}){% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
    <h4>All-Time</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for skater, human, org in all_time_skater_points %}
        <li></li>
        <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
            {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{ skater.games_played }}GP, {{
            skater.points }}P
            {% if skater.goals > 0 %}({{ skater.goals }}G{% if skater.assists > 0 %},{{ skater.assists }}A{% endif %}){%
            endif %}
        </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Top Goalies</h2>
    <h4>Day</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for goalie, human, org in daily_goalie_games_played %}
        <li>
            <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
                {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{ goalie.games_played
                }}GP, {{
                "%.2f" % goalie.save_percentage }}SV%
            </a>
        </li>
        {% endfor %}
    </ul>
    <h4>Week</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for goalie, human, org in weekly_goalie_games_played %}
        <li></li>
        <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
            {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{ goalie.games_played }}GP, {{
            "%.2f" % goalie.save_percentage }}SV%
        </a>
        </li>
        {% endfor %}
    </ul>
    <h4>All-Time</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for goalie, human, org in all_time_goalie_games_played %}
        <li>
            <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
                {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{ goalie.games_played
                }}GP, {{
                "%.2f" % goalie.save_percentage }}SV%
            </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Top Referees</h2>
    <h4>Day</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for referee, human, org in daily_referee_games_reffed %}
        <li>
            <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
                {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{ referee.games_reffed }}
                Games({{
                referee.penalties_given }}PIM, {{ referee.gm_given }}GM)
            </a>
        </li>
        {% endfor %}
    </ul>
    <h4>Week</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for referee, human, org in weekly_referee_games_reffed %}
        <li>
            <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
                {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{ referee.games_reffed }}
                Games({{
                referee.penalties_given }}PIM, {{ referee.gm_given }}GM)
            </a>
        </li>
        {% endfor %}
    </ul>
    <h4>All-Time</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for referee, human, org in all_time_referee_games_reffed %}
        <li>
            <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
                {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{ referee.games_reffed }}
                Games({{
                referee.penalties_given }}PIM, {{ referee.gm_given }}GM)
            </a>
        </li>
        {% endfor %}
    </ul>

    <h2>Top Scorekeepers</h2>
    <h4>Day</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for scorekeeper, human, org in daily_scorekeeper_games %}
        <li>
            <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
                {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{
                scorekeeper.games_scorekeeper }} games
            </a>
        </li>
        {% endfor %}
    </ul>
    <h4>Week</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for scorekeeper, human, org in weekly_scorekeeper_games %}
        <li></li>
        <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
            {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{
            scorekeeper.games_scorekeeper }} games
        </a>
        </li>
        {% endfor %}
    </ul>
    <h4>All-Time</h4>
    <ul style="list-style-type: none; padding: 0;">
        {% for scorekeeper, human, org in all_time_scorekeeper_games %}
        <li>
            <a href="{{ url_for('human_stats.human_stats', human_id=human.id) }}">
                {{ human.first_name }} {{ human.last_name }} ({{ org.organization_name }}) - {{
                scorekeeper.games_scorekeeper }} games
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}