{% macro location_display(location, link_to_page=False) %}
    {% if location %}
        {% if location.location_name or location.address or location.rink_name %}
            {% if link_to_page %}
                <a href="{{ url_for('location.location', location_id=location.id) }}" title="{{ location.address if location.address else '' }}">
                    {{ location.location_name }}{% if location.rink_name %}, {{ location.rink_name }} Rink{% endif %}
                </a>
            {% elif location.google_maps_link %}
                <a href="{{ location.google_maps_link }}" target="_blank" title="{{ location.address if location.address else '' }}">
                    {{ location.location_name }}{% if location.rink_name %}, {{ location.rink_name }} Rink{% endif %}
                </a>
            {% else %}
                {{ location.location_name }}{% if location.rink_name %}, {{ location.rink_name }} Rink{% endif %}
            {% endif %}
        {% else %}
            {{ location.location_in_game_source }}
        {% endif %}
    {% else %}
        Unknown Location
    {% endif %}
{% endmacro %}

{% macro location_text(location) %}
    {%- if location -%}
        {%- if location.location_name or location.rink_name -%}
            {{- location.location_name -}}
            {%- if location.rink_name -%}, {{ location.rink_name }} Rink{%- endif -%}
        {%- else -%}
            {{- location.location_in_game_source -}}
        {%- endif -%}
    {%- else -%}
        Unknown Location
    {%- endif -%}
{% endmacro %}
