{% extends "base.html" %}

{% block title %}Players Per Season{% endblock %}

{% block content %}
<h1 class="mb-4 text-xl font-bold">Players Per Season</h1>
<div class="mb-6">
    <img id="plot-image" src="data:image/png;base64,{{ plot_url }}" class="max-w-full h-auto" />
</div>
<div class="overflow-x-auto">
    <table class="table table-zebra table-sm">
        <thead>
            <tr>
                <th>Season Name</th>
                <th>Number of Players</th>
            </tr>
        </thead>
        <tbody>
            {% for item in players_per_season %}
            <tr>
                <td>{{ item.season_name }}</td>
                <td>{{ item.num_players }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
