{% extends "base.html" %}

{% block title %}Request Logs{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Request Logs</h1>
    <form method="get" class="mb-4">
        <label for="interval">Select Interval:</label>
        <select id="interval" name="interval" onchange="this.form.submit()">
            <option value="minutely" {% if interval=='minutely' %}selected{% endif %}>Minutely</option>
            <option value="hourly" {% if interval=='hourly' %}selected{% endif %}>Hourly</option>
            <option value="daily" {% if interval=='daily' %}selected{% endif %}>Daily</option>
            <option value="weekly" {% if interval=='weekly' %}selected{% endif %}>Weekly</option>
            <option value="monthly" {% if interval=='monthly' %}selected{% endif %}>Monthly</option>
        </select>
    </form>
    <div id="plot-div">{{ plot_div|safe }}</div>
    <div id="unique-ip-plot-div">{{ unique_ip_plot_div|safe }}</div>
    <div id="endpoint-plot-div">{{ endpoint_plot_div|safe }}</div>
    <div id="total-requests-div">{{ total_requests_div|safe }}</div>
    <div id="avg-hits-plot-div">{{ avg_hits_plot_div|safe }}</div>
    
    {% if median_response_time_plot_div %}
    <div id="median-response-time-plot-div">{{ median_response_time_plot_div|safe }}</div>
    {% endif %}
    
    {% if p90_response_time_plot_div %}  
    <div id="p90-response-time-plot-div">{{ p90_response_time_plot_div|safe }}</div>
    {% endif %}
    
    {% if endpoint_response_time_plot_div %}
    <div id="endpoint-response-time-plot-div">{{ endpoint_response_time_plot_div|safe }}</div>
    {% endif %}
    <h2 class="mt-5">Sample Logs</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Client IP</th>
                <th>Path</th>
                <th>User Agent</th>
            </tr>
        </thead>
        <tbody>
            {% for log in sample_logs_data %}
            <tr>
                <td>{{ log.timestamp }}</td>
                <td>{{ log.client_ip }}</td>
                <td>{{ log.path }}</td>
                <td>{{ log.user_agent }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}