{% extends "base.html" %}

{% block title %}Seasons Data{% endblock %}

{% block content %}
<h1 class="mb-4 text-xl font-bold">Seasons Data</h1>

<h2 class="text-lg font-bold mt-6 mb-3 text-primary">Number of Players per Season</h2>
<div class="overflow-x-auto mb-6 max-h-96">
    {{ players_per_season_content|safe }}
</div>

<h2 class="text-lg font-bold mt-6 mb-3 text-primary">Number of Teams per Season</h2>
<div class="overflow-x-auto mb-6 max-h-96">
    {{ teams_per_season_content|safe }}
</div>
{% endblock %}
