{% extends "base.html" %}

{% block title %}Number of Teams per Season{% endblock %}

{% block content %}
<h1 class="mb-4 text-xl font-bold">Teams Per Season</h1>
<div class="mb-6">
    <img src="data:image/png;base64,{{ plot_url }}" class="max-w-full h-auto" />
</div>
<div class="overflow-x-auto">
    <table class="table table-zebra table-sm">
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Number of Teams</th>
            </tr>
        </thead>
        <tbody>
            {% for item in teams_per_season %}
            <tr>
                <td>{{ item.season_number }}</td>
                <td>{{ item.season_name }}</td>
                <td>{{ item.num_teams }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
