<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Version Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container mt-5">
        <h1>Version Information</h1>
        <p><strong>Latest Commit Message:</strong> {{ commit_message }}</p>
        <p><strong>Commit Hash:</strong> {{ commit_hash }}</p>
        <p><strong>Date of Last Commit:</strong> {{ commit_date }}</p>
        <p><strong>hockey-blast-common-lib Version:</strong> {{ library_version }}</p>
        <a href="/" class="btn btn-primary">Back to Home</a>
    </div>
</body>

</html>